<p id="notice"><%= notice %></p>
<h1>Events</h1>
<% if @events.first.nil? %>
  <i>эта таблица пустая</i>
<% else %><table class="sv_table">
  <thead><tr>
    <th>Category</th>
    <th>Title</th>
    <th>Description</th>
    <th>Icon</th>
    <th colspan="4"></th>
  </tr></thead>
  <tbody><% @events.each do |one_event| %><tr>
      <td>
        <% if one_event.category.nil? || one_event.category < 1 %><i>category not exist</i>
        <% else %><%= CategoryEvent.find(one_event.category).title %>
        <% end %>
      </td>
      <td><%= one_event.title %></td>
      <td><%= one_event.description %></td>
      <td>
        <% if one_event.icon.nil? || one_event.icon < 1 %><i>image not exist</i>
        <% else %>
          <% photo = Photo.find(one_event.icon) %>
          <%= image_tag( photo.title , style: "width: 100px;", alt: photo.description ) %>
        <% end %>
      </td>
      <td><%= link_to 'Show', admin_event_path(one_event) %></td>
      <td><%= link_to 'Edit', edit_admin_event_path(one_event) %></td>
      <td><%= link_to 'Destroy', admin_event_path(one_event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><a href= "//localhost:3000/events/<%= one_event.id.to_s %>/<%= @word_to_see %>" >Beauty</a></td>
  </tr><% end %></tbody>
</table><% end %>
<br><%= link_to 'New Event', action: "new" %>
