<%= form_with(model: photo_in_article, local: true) do |form| %>
  <% if photo_in_article.errors.any? %><div id="error_explanation">
      <h2><%= pluralize(photo_in_article.errors.count, "error") %> prohibited this photo_in_article from being saved:</h2>
      <ul><% photo_in_article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %></ul>
  </div><% end %>
  <p>Photo</p>
  <div class="field"><% @fotolist.each do |onefoto| %>
      <%= form.radio_button(:photo, onefoto.id) %>
      <%= form.label(:photo, onefoto.title) %>
      <% way="http://localhost:3000/assets/wpimg/" + onefoto.title %>
      <img src="<%= way %>" width="100px" alt="<%= onefoto.description %>"><br>
  <% end %></div>
  <div class="field"><%= form.label :article %><%= form.collection_select(:photo, Article.all, :id, :title)%></div>
  <div class="actions"><%= form.submit %></div>
<% end %>
