<% if @visible_part %><div class="articles-block big-block"><div class="block">
	<h2>События</h2>
	<hr class = "spec-hr"/>
	<div class="articles"><% @event_list.each do |state| %><div class="article">
		<div class="article-img"><%= image_tag (Photo.find(state.icon)).title %></div>
		<div class="article-content">
			<h2> <%= state.title %> </h2>
			<p>	<%= state.description.html_safe %> </p>
			<a class="nice-button" href="//localhost:3000/events/<%= state.id.to_s %>/<%= @word_to_see %>">подробнее</a>
		</div>
	</div><% end -%></div>
	<u><%= will_paginate @event_list, :class => "special-links", :link_separator => "| |", :previous_label =>"предыдущая", :next_label =>"следующая" # , :params => :class => "special-link"
	%></u><!-- 
	<div class="special-links">
		<div class="dots-arrow dots-arrow-left"><%= image_tag "wpimg/dots-arrow.png"  %></div>
		<div class="special-link active"><span></span></div>
		<div class="special-link"       ><span></span></div>
		<div class="special-link"       ><span></span></div>
		<div class="dots-arrow dots-arrow-right"><%= image_tag "wpimg/dots-arrow.png", tranform: "scale(-1, 1)" %></div>
	</div> -->
</div></div><% end %>