<p id="notice"><%= notice %></p>
<% if @photo.image_stored? %>
	<strong>Title:</strong><%= @photo.image.name %><% des = @photo.description %>
	<%= image_tag(@photo.image.url, width: "100%", alt: @photo.description) %>
<% else %><i>image not selected</i>
<% end %>
<p><strong>Description:</strong><%= @photo.description %></p>
<%= link_to 'Edit', action: "edit" %> | 
<%= link_to 'Back', action: "index" %>
