<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %><div id="error_explanation">
    <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
    <ul><% event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %></ul>
  </div><% end %>
  <div class="actions"><%= form.submit %></div>
  <table width="100%">
    <tr>
      <td><div class="field"><%= form.label :category %><%= form.collection_select(:category, CategoryEvent.all, :id, :title) %></div></td>
      <td><div class="field"><%= form.label :title %><%= form.text_field :title, id: :event_title, style: "width: 100%;"%></div></td>
    </tr>
    <tr>
      <td width="222px"><table>
        <thead><tr>
          <td>Previev</td>
          <td>Icon</td>
          <td>Many photos</td>
        </tr></thead>
        <tbody><% @photo_list.each do |one_photo| %><tr>
          <td><%= image_tag(one_photo.title, style: "width: 100px;") %></td>
          <td><%= form.radio_button(:icon, one_photo.id) %></td>
          <!-- checkbox I parametr without [] need be == in controller params["word"] -->
          <td><%= check_box_tag("many_photo_ids[]" , one_photo.id.to_i, @old_list.include?(one_photo.id)) %></td>
        </tr><% end %></tbody>
      </table></td>
      <td><div class="field"><%= form.label :description %><%= form.text_area :description, id: :event_description, class: "summernote" %></div></td>
    </tr>
  </table>
<% end %>

<link rel="stylesheet" media="screen" href="/assets/summernote/summernote.self-eb6a6894d6e3108aba5d08fd4740cd9f01b40ec94b331a17b1441d4aae3406c2.css?body=1">

<script src="/assets/summernote/summernote.min.self-98baa5b7d6c91f71ac7c418e94c545c6620cfbc5c28da8dde12eaa812548db71.js?body=1"></script>

<script type="text/javascript">
$(function() {
  $('.summernote').summernote();
  var edit = function () {
    $('.click2edit').summernote({ focus: true });
  };
});
</script>