<p id="notice"><%= notice %></p>
<h1>Photo In Slayders</h1>
<% if @photo_in_slayders.first.nil? %>
  <i>эта таблица пустая</i>
<% else %><table class="sv_table">
  <thead><tr>
      <th>Photo</th>
      <th>Slyder</th>
      <th colspan="3"></th>
  </tr></thead>
  <tbody><% @photo_in_slayders.each do |photo_in_slayder| %><tr>
      <td>
        <% if photo_in_slayder.photo.nil? || photo_in_slayder.photo < 1 %>image not exist
        <% else %>
          <% photo = Photo.find(photo_in_slayder.photo) %>
          <%= image_tag( photo.title , style: "width: 100px;", alt: photo.description ) %>
        <% end %>
      </td>
      <td>
        <% if photo_in_slayder.slyder.nil? || photo_in_slayder.slyder < 1 %>slayder not exist
        <% else %><%= Slayder.find(photo_in_slayder.slyder).title %>
        <% end %>
      </td>
      <td><%= link_to 'Show', photo_in_slayder %></td>
      <td><%= link_to 'Edit', edit_photo_in_slayder_path(photo_in_slayder) %></td>
      <td><%= link_to 'Destroy', photo_in_slayder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr><% end %></tbody>
</table><% end %>
<br><%= link_to 'New Photo In Slayder', new_photo_in_slayder_path %>
