<p id="notice"><%= notice %></p>
<p><strong>Photo:</strong><%= @photo_in_slayder.photo %></p>
<p><strong>Slyder:</strong><%= @photo_in_slayder.slyder %></p>
<%= link_to 'Edit', action: "edit" %> | 
<%= link_to 'Back', action: "index" %>
