<%= form_with(model: [:admin, category_event], local: true) do |form| %>
  <div class="actions"><%= form.submit %></div>
  <% if category_event.errors.any? %><div id="error_explanation">
    <h2><%= pluralize(category_event.errors.count, "error") %> prohibited this category_event from being saved:</h2>
    <ul><% category_event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %></ul>
  </div><% end %>
  <div class="field"><%= form.label :title %><%= form.text_field :title, id: :category_event_title %></div>
  <div class="field"><%= form.label :description %><%= form.text_field :description, id: :category_event_description %></div>
  <p>Icon</p>
  <div class="field"><% @photo_list.each do |onefoto| %>
    <%= image_tag(onefoto.image.url, style: "width: 100px;", alt: onefoto.description) %>
    <%= form.radio_button(:icon, onefoto.id) %>
    <%= form.label(:icon, onefoto.title) %><br>
  <% end %></div>
<% end %>
