<p id="notice"><%= notice %></p>
<p><strong>Title:</strong><%= @photo.title %><% des = @photo.description %>
<% way="http://localhost:3000/assets/wpimg/" + @photo.title %><br>
<img src="<%= way %>" width="100%" alt="<%= @photo.description %>"/></p>
<p><strong>Description:</strong><%= @photo.description %></p>
<%= link_to 'Edit', edit_photo_path(@photo) %> | <%= link_to 'Back', photos_path %>
