<p id="notice"><%= notice %></p>
<p><strong>Photo:</strong><%= @photo_in_event.photo %></p>
<p><strong>Event:</strong><%= @photo_in_event.event %></p>
<%= link_to 'Edit', edit_photo_in_event_path(@photo_in_event) %> |
<%= link_to 'Back', photo_in_events_path %>
